docs/n8n-workflows/A_QC자동수정.json
{
  "name": "A. QC 실패 → 자동 수정",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "app-events",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: App Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "QC_REPORT_COMPLETED",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "leftValue": "={{ $json.body.payload.passed }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "false" }
            },
            {
              "leftValue": "={{ $json.body.payload.isDeep }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-qc-fail",
      "name": "Filter: Deep QC 실패만",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "=https://xzawed.xyz/api/v1/admin/qc-stats?days=7",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-trends",
      "name": "HTTP: QC 트렌드 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "App Admin API" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-3\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an AI code quality analyst for xzawed.xyz (no-code website builder).\\n\\nAnalyze this QC failure and determine if it can be auto-fixed.\\n\\n## QC Report\\n- Project: {{ $('Webhook: App Events').item.json.body.payload.projectId }}\\n- Overall Score: {{ $('Webhook: App Events').item.json.body.payload.overallScore }}/100\\n- Failed Checks:\\n{{ $('Webhook: App Events').item.json.body.payload.checks.filter(c => !c.passed).map(c => `  - ${c.name}: ${c.score}/100`).join('\\n') }}\\n\\n## Recent Trends (7 days)\\n- Total: {{ $json.data.totalGenerations }} generations\\n- Pass Rate: {{ Math.round($json.data.qcPassRate * 100) }}%\\n- Common Failures: {{ $json.data.commonFailures.map(f => `${f.check}(${f.failCount})`).join(', ') }}\\n\\nReturn JSON only:\\n{\\n  \\\"autoFixable\\\": boolean,\\n  \\\"fixApproach\\\": \\\"specific instructions for Claude CLI to fix the code generation pipeline (which file, what to change)\\\",\\n  \\\"severity\\\": \\\"low|medium|high\\\",\\n  \\\"affectedArea\\\": \\\"which file/component needs fixing\\\",\\n  \\\"summary\\\": \\\"한국어 한 줄 요약\\\"\\n}\"\n    }\n  ],\n  \"temperature\": 0.2\n}",
        "options": {}
      },
      "id": "supergrok-analysis",
      "name": "SuperGrok: QC 분석",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "xAI SuperGrok" }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $input.all()[0].json.choices?.[0]?.message?.content || '{}';\ntry {\n  return [{ json: JSON.parse(content) }];\n} catch {\n  return [{ json: { autoFixable: false, severity: 'medium', summary: '분석 실패', fixApproach: null, affectedArea: 'unknown' } }];\n}"
      },
      "id": "parse-grok",
      "name": "Code: 분석 결과 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.autoFixable }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-fixable",
      "name": "IF: 자동 수정 가능?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/xzawed/CustomWebService/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"claude-fix\",\n  \"client_payload\": {\n    \"task_description\": \"{{ $json.fixApproach }}\",\n    \"commit_message\": \"fix: QC 자동 수정 — {{ $json.affectedArea }}\",\n    \"pr_title\": \"[Auto] QC Fix: {{ $json.summary }}\",\n    \"pr_body\": \"## SuperGrok 분석\\n- 심각도: {{ $json.severity }}\\n- 영향 영역: {{ $json.affectedArea }}\\n- 요약: {{ $json.summary }}\\n\\n## QC 실패 상세\\n- 프로젝트: {{ $('Webhook: App Events').item.json.body.payload.projectId }}\\n- 점수: {{ $('Webhook: App Events').item.json.body.payload.overallScore }}/100\"\n  }\n}",
        "options": {}
      },
      "id": "claude-dispatch",
      "name": "GitHub: Claude CLI 트리거",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200],
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "GitHub PAT" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "content",
              "value": "=🔧 **QC 자동 수정 시작**\n- 프로젝트: {{ $('Webhook: App Events').item.json.body.payload.projectId }}\n- QC 점수: {{ $('Webhook: App Events').item.json.body.payload.overallScore }}/100\n- 영역: {{ $json.affectedArea }}\n- 요약: {{ $json.summary }}\n\nClaude CLI가 PR을 생성할 예정입니다."
            }
          ]
        }
      },
      "id": "discord-autofix",
      "name": "Discord: 자동 수정 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 200],
      "notesInFlow": true,
      "notes": "Discord Webhook URL 입력"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/xzawed/CustomWebService/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"[QC] {{ $json.severity }}: {{ $json.summary }}\",\n  \"body\": \"## SuperGrok 분석\\n- 심각도: {{ $json.severity }}\\n- 영향 영역: {{ $json.affectedArea }}\\n- 자동 수정: 불가\\n\\n## 수동 조치 필요\\n{{ $json.fixApproach || '추가 분석 필요' }}\\n\\n## QC 상세\\n- 프로젝트: {{ $('Webhook: App Events').item.json.body.payload.projectId }}\\n- 점수: {{ $('Webhook: App Events').item.json.body.payload.overallScore }}/100\",\n  \"labels\": [\"qc\", \"{{ $json.severity }}\"]\n}",
        "options": {}
      },
      "id": "create-issue",
      "name": "GitHub: Issue 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 400],
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "GitHub PAT" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "content",
              "value": "=⚠️ **QC 이슈 — 수동 조치 필요**\n- 심각도: {{ $json.severity }}\n- 요약: {{ $json.summary }}\n- GitHub Issue 생성됨"
            }
          ]
        }
      },
      "id": "discord-manual",
      "name": "Discord: 수동 조치 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 400],
      "notesInFlow": true,
      "notes": "Discord Webhook URL 입력"
    }
  ],
  "connections": {
    "Webhook: App Events": { "main": [[{ "node": "Filter: Deep QC 실패만", "type": "main", "index": 0 }]] },
    "Filter: Deep QC 실패만": { "main": [[{ "node": "HTTP: QC 트렌드 조회", "type": "main", "index": 0 }]] },
    "HTTP: QC 트렌드 조회": { "main": [[{ "node": "SuperGrok: QC 분석", "type": "main", "index": 0 }]] },
    "SuperGrok: QC 분석": { "main": [[{ "node": "Code: 분석 결과 파싱", "type": "main", "index": 0 }]] },
    "Code: 분석 결과 파싱": { "main": [[{ "node": "IF: 자동 수정 가능?", "type": "main", "index": 0 }]] },
    "IF: 자동 수정 가능?": {
      "main": [
        [{ "node": "GitHub: Claude CLI 트리거", "type": "main", "index": 0 }],
        [{ "node": "GitHub: Issue 생성", "type": "main", "index": 0 }]
      ]
    },
    "GitHub: Claude CLI 트리거": { "main": [[{ "node": "Discord: 자동 수정 알림", "type": "main", "index": 0 }]] },
    "GitHub: Issue 생성": { "main": [[{ "node": "Discord: 수동 조치 알림", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
