docs/n8n-workflows/CWS-router-event-dispatch.json
{
  "name": "CWS - Event Dispatch Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "app-events",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook: App Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "QC_REPORT_COMPLETED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.body.payload.passed }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "QC 실패 → A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "FAILED",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "에러 → D"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "DEPLOYMENT_COMPLETED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputLabel": "배포 완료 → E"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-type",
      "name": "Switch: 이벤트 라우팅",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "call-a",
      "name": "Execute: A. QC 자동수정",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        750,
        150
      ],
      "notesInFlow": true,
      "notes": "A 워크플로우 ID를 선택하세요",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "call-d",
      "name": "Execute: D. 에러알림",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        750,
        300
      ],
      "notesInFlow": true,
      "notes": "D 워크플로우 ID를 선택하세요",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "call-e",
      "name": "Execute: E. 배포검증",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        750,
        450
      ],
      "notesInFlow": true,
      "notes": "E 워크플로우 ID를 선택하세요",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const type = $json.body?.type || \"unknown\"; console.log(\"Unmatched event: \" + type); return [{ json: { logged: true, type } }];"
      },
      "id": "log-unmatched",
      "name": "Code: 미매칭 이벤트 로그",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body; if (!body || !body.type || !body.payload) { throw new Error(\"Invalid webhook payload: missing type or payload\"); } return [$input.all()[0]];"
      },
      "id": "validate-input",
      "name": "Code: 입력 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        375,
        300
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook: App Events": {
      "main": [
        [
          {
            "node": "Code: 입력 검증",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: 이벤트 라우팅": {
      "main": [
        [
          {
            "node": "Execute: A. QC 자동수정",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: D. 에러알림",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute: E. 배포검증",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: 미매칭 이벤트 로그",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 입력 검증": {
      "main": [
        [
          {
            "node": "Switch: 이벤트 라우팅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}