docs/n8n-workflows/CWS-respond-qc-failure.json
{
  "name": "CWS - QC Failure Response",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.payload.isDeep }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-deep",
      "name": "Filter: Deep QC만",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://xzawed.xyz/api/v1/admin/qc-stats?days=7",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-trends",
      "name": "HTTP: QC 트렌드 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "App Admin API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-3\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an AI code quality analyst for xzawed.xyz (no-code website builder).\\n\\nAnalyze this QC failure and determine if it can be auto-fixed.\\n\\n## QC Report\\n- Project: {{ $('Execute Workflow Trigger').item.json.body.payload.projectId }}\\n- Overall Score: {{ $('Execute Workflow Trigger').item.json.body.payload.overallScore }}/100\\n- Failed Checks:\\n{{ $('Execute Workflow Trigger').item.json.body.payload.checks.filter(c => !c.passed).map(c => '  - ' + c.name + ': ' + c.score + '/100').join('\\n') }}\\n\\n## Recent Trends (7 days)\\n- Pass Rate: {{ Math.round($json.data.qcPassRate * 100) }}%\\n- Common Failures: {{ $json.data.commonFailures.map(f => f.check + '(' + f.failCount + ')').join(', ') }}\\n\\nReturn JSON only:\\n{\\n  \\\"autoFixable\\\": boolean,\\n  \\\"fixApproach\\\": \\\"specific instructions for Claude CLI (which file, what to change)\\\",\\n  \\\"severity\\\": \\\"low|medium|high\\\",\\n  \\\"affectedArea\\\": \\\"which file/component\\\",\\n  \\\"summary\\\": \\\"한국어 한 줄 요약\\\"\\n}\"\n    }\n  ],\n  \"temperature\": 0.2\n}",
        "options": {}
      },
      "id": "supergrok",
      "name": "SuperGrok: QC 분석",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        910,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "xAI SuperGrok"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $input.all()[0].json.choices?.[0]?.message?.content || '{}';\ntry {\n  return [{ json: JSON.parse(content) }];\n} catch {\n  return [{ json: { autoFixable: false, severity: 'medium', summary: '분석 실패', fixApproach: null, affectedArea: 'unknown' } }];\n}"
      },
      "id": "parse",
      "name": "Code: 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.autoFixable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-fixable",
      "name": "IF: 자동 수정 가능?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/xzawed/CustomWebService/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"claude-fix\",\n  \"client_payload\": {\n    \"task_description\": \"{{ $json.fixApproach }}\",\n    \"commit_message\": \"fix: QC 자동 수정 — {{ $json.affectedArea }}\",\n    \"pr_title\": \"[Auto] QC Fix: {{ $json.summary }}\",\n    \"pr_body\": \"## SuperGrok 분석\\n- 심각도: {{ $json.severity }}\\n- 영향 영역: {{ $json.affectedArea }}\\n- 요약: {{ $json.summary }}\\n\\n## QC 실패 상세\\n- 프로젝트: {{ $('Execute Workflow Trigger').item.json.body.payload.projectId }}\\n- 점수: {{ $('Execute Workflow Trigger').item.json.body.payload.overallScore }}/100\"\n  }\n}",
        "options": {}
      },
      "id": "claude-dispatch",
      "name": "GitHub: Claude CLI 트리거",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1570,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/xzawed/CustomWebService/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"[QC Auto] {{ $json.severity }}: {{ $json.summary }}\",\n  \"body\": \"## SuperGrok 분석\\n- 심각도: {{ $json.severity }}\\n- 영향 영역: {{ $json.affectedArea }}\\n- 자동 수정: Claude CLI PR 생성 중\\n- 요약: {{ $json.summary }}\\n\\n## 수정 방법\\n{{ $json.fixApproach }}\",\n  \"labels\": [\"qc\", \"auto-fix\", \"{{ $json.severity }}\"]\n}",
        "options": {}
      },
      "id": "issue-autofix",
      "name": "GitHub: 자동수정 Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1790,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/xzawed/CustomWebService/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"[QC] {{ $json.severity }}: {{ $json.summary }}\",\n  \"body\": \"## SuperGrok 분석\\n- 심각도: {{ $json.severity }}\\n- 영향 영역: {{ $json.affectedArea }}\\n- 자동 수정: 불가\\n\\n## 수동 조치 필요\\n{{ $json.fixApproach || '추가 분석 필요' }}\",\n  \"labels\": [\"qc\", \"manual\", \"{{ $json.severity }}\"]\n}",
        "options": {}
      },
      "id": "issue-manual",
      "name": "GitHub: 수동조치 Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1570,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/rate_limit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "id": "rate-limit-check",
      "name": "GitHub: Rate Limit 체크",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1270,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const remaining = $input.all()[0].json.resources?.core?.remaining ?? 0; return [{ json: { remaining, available: remaining > 10 } }];"
      },
      "id": "check-quota",
      "name": "Code: 한도 확인",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1270,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-quota",
      "name": "IF: GitHub 한도 여유?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1270,
        500
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Filter: Deep QC만",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Deep QC만": {
      "main": [
        [
          {
            "node": "HTTP: QC 트렌드 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: QC 트렌드 조회": {
      "main": [
        [
          {
            "node": "SuperGrok: QC 분석",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SuperGrok: QC 분석": {
      "main": [
        [
          {
            "node": "Code: 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 파싱": {
      "main": [
        [
          {
            "node": "GitHub: Rate Limit 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: 자동 수정 가능?": {
      "main": [
        [
          {
            "node": "GitHub: Claude CLI 트리거",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub: 수동조치 Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Claude CLI 트리거": {
      "main": [
        [
          {
            "node": "GitHub: 자동수정 Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Rate Limit 체크": {
      "main": [
        [
          {
            "node": "Code: 한도 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 한도 확인": {
      "main": [
        [
          {
            "node": "IF: GitHub 한도 여유?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: GitHub 한도 여유?": {
      "main": [
        [
          {
            "node": "IF: 자동 수정 가능?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}