docs/n8n-workflows/CWS-B-daily-monitoring.json
{
  "name": "CWS | B. Daily QC Monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 0
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule: 매일 09:00 KST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "notesInFlow": true,
      "notes": "UTC 00:00 = KST 09:00"
    },
    {
      "parameters": {
        "url": "=https://xzawed.xyz/api/v1/admin/qc-stats?days=7",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        }
      },
      "id": "qc-stats",
      "name": "HTTP: QC 통계 (7일)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "App Admin API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json.data;\nconst hasIssue = data.qcPassRate < 0.7 || data.commonFailures.some(f => f.rate > 0.3);\nconst failureList = data.commonFailures.map(f => `- ${f.check}: ${f.failCount}건 (${Math.round(f.rate * 100)}%)`).join('\\n');\n\nreturn [{\n  json: {\n    hasIssue,\n    total: data.totalGenerations,\n    passRate: Math.round(data.qcPassRate * 100),\n    avgStructural: data.avgStructuralScore,\n    avgMobile: data.avgMobileScore,\n    avgQc: data.avgRenderingQcScore,\n    loopRate: Math.round(data.qualityLoopUsageRate * 100),\n    failureList: failureList || '없음',\n    period: `${data.period.from} ~ ${data.period.to}`\n  }\n}];"
      },
      "id": "analyze",
      "name": "Code: 통계 분석",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasIssue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-issue",
      "name": "IF: 이슈 있는가?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-3\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a quality trends analyst for xzawed.xyz.\\n\\nAnalyze these QC stats for the past week:\\n- Total generations: {{ $json.total }}\\n- QC Pass rate: {{ $json.passRate }}%\\n- Avg structural score: {{ $json.avgStructural }}\\n- Avg mobile score: {{ $json.avgMobile }}\\n- Avg rendering QC score: {{ $json.avgQc }}\\n- Quality loop usage: {{ $json.loopRate }}%\\n- Common failures:\\n{{ $json.failureList }}\\n\\nReturn JSON only:\\n{\\n  \\\"severity\\\": \\\"low|medium|high\\\",\\n  \\\"summary\\\": \\\"한국어 한 줄 요약\\\",\\n  \\\"topIssues\\\": [{\\\"issue\\\": \\\"설명\\\", \\\"suggestedFix\\\": \\\"구체적 수정 방법\\\"}],\\n  \\\"recommendedAction\\\": \\\"none|create_issue|auto_fix\\\"\\n}\"\n    }\n  ],\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "id": "supergrok-trend",
      "name": "SuperGrok: 트렌드 분석",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "xAI SuperGrok"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stats = $('Code: 통계 분석').item.json;\nconst grokRaw = $input.all()[0].json.choices?.[0]?.message?.content || '{}';\nlet grok;\ntry { grok = JSON.parse(grokRaw); } catch { grok = { severity: 'medium', summary: '분석 실패', topIssues: [], recommendedAction: 'none' }; }\n\nconst issueList = grok.topIssues?.map((i, idx) => `${idx + 1}. **${i.issue}**\\n   → ${i.suggestedFix}`).join('\\n') || '없음';\n\nconst body = `## 일일 QC 리포트 (${stats.period})\\n\\n` +\n  `| 항목 | 값 |\\n|------|-----|\\n` +\n  `| 생성 수 | ${stats.total}건 |\\n` +\n  `| QC 통과율 | ${stats.passRate}% |\\n` +\n  `| 구조 점수 | ${stats.avgStructural} |\\n` +\n  `| 모바일 점수 | ${stats.avgMobile} |\\n` +\n  `| 렌더링 QC | ${stats.avgQc} |\\n` +\n  `| 품질루프 사용 | ${stats.loopRate}% |\\n\\n` +\n  `## SuperGrok 분석 (심각도: ${grok.severity})\\n\\n${grok.summary}\\n\\n` +\n  `### 주요 이슈\\n${issueList}\\n\\n` +\n  `### 실패 현황\\n${stats.failureList}\\n\\n` +\n  `> 권장 조치: ${grok.recommendedAction}`;\n\nreturn [{ json: { title: `[QC Daily] ${grok.severity}: ${grok.summary}`, body, severity: grok.severity, action: grok.recommendedAction, grok } }];"
      },
      "id": "format-report",
      "name": "Code: 리포트 포맷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/xzawed/CustomWebService/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }}\",\n  \"body\": \"{{ $json.body }}\",\n  \"labels\": [\"qc-daily\", \"{{ $json.severity }}\"]\n}",
        "options": {}
      },
      "id": "create-issue",
      "name": "GitHub: 일일 리포트 Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1570,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub PAT"
        }
      }
    }
  ],
  "connections": {
    "Schedule: 매일 09:00 KST": {
      "main": [
        [
          {
            "node": "HTTP: QC 통계 (7일)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: QC 통계 (7일)": {
      "main": [
        [
          {
            "node": "Code: 통계 분석",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 통계 분석": {
      "main": [
        [
          {
            "node": "IF: 이슈 있는가?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: 이슈 있는가?": {
      "main": [
        [
          {
            "node": "SuperGrok: 트렌드 분석",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "SuperGrok: 트렌드 분석": {
      "main": [
        [
          {
            "node": "Code: 리포트 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 리포트 포맷": {
      "main": [
        [
          {
            "node": "GitHub: 일일 리포트 Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}