docs/n8n-workflows/D_에러알림.json
{
  "name": "D. 에러 알림 + SuperGrok 분류",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "app-events",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: App Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "FAILED",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-errors",
      "name": "Filter: FAILED 이벤트만",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-3\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an SRE for xzawed.xyz (Next.js AI no-code website builder on Railway).\\n\\nTriage this error:\\n- Type: {{ $json.body.type }}\\n- Error: {{ $json.body.payload.error || 'N/A' }}\\n- Project: {{ $json.body.payload.projectId || 'N/A' }}\\n- Provider: {{ $json.body.payload.provider || 'N/A' }}\\n- Time: {{ $json.body.timestamp }}\\n\\nReturn JSON only:\\n{\\n  \\\"severity\\\": \\\"critical|high|medium|low\\\",\\n  \\\"category\\\": \\\"infrastructure|ai_provider|code_bug|user_input|external_api\\\",\\n  \\\"isAutoFixable\\\": boolean,\\n  \\\"summary\\\": \\\"한국어 한 줄 요약\\\",\\n  \\\"fixInstructions\\\": \\\"Claude CLI 수정 지시 (자동 수정 불가 시 null)\\\"\\n}\"\n    }\n  ],\n  \"temperature\": 0.2\n}",
        "options": {}
      },
      "id": "supergrok-triage",
      "name": "SuperGrok: 에러 분류",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "xAI SuperGrok" }
      },
      "notesInFlow": true,
      "notes": "xAI SuperGrok 크리덴셜 연결 필요"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.all()[0].json;\nconst content = response.choices?.[0]?.message?.content || '{}';\ntry {\n  const parsed = JSON.parse(content);\n  return [{ json: parsed }];\n} catch {\n  return [{ json: { severity: 'medium', category: 'unknown', isAutoFixable: false, summary: '분석 실패', fixInstructions: null } }];\n}"
      },
      "id": "parse-response",
      "name": "Code: 응답 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true }, "conditions": [{ "leftValue": "={{ $json.severity }}", "rightValue": "critical", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputLabel": "Critical" },
            { "conditions": { "options": { "caseSensitive": true }, "conditions": [{ "leftValue": "={{ $json.isAutoFixable }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }], "combinator": "and" }, "renameOutput": true, "outputLabel": "Auto-Fix" },
            { "conditions": { "options": { "caseSensitive": true }, "conditions": [{ "leftValue": "={{ $json.severity }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }], "combinator": "and" }, "renameOutput": true, "outputLabel": "Normal" }
          ]
        }
      },
      "id": "switch-severity",
      "name": "Switch: 심각도",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "content",
              "value": "=🚨 **CRITICAL 에러 발생** @here\n\n- 유형: {{ $('Webhook: App Events').item.json.body.type }}\n- 분류: {{ $json.category }}\n- 요약: {{ $json.summary }}\n- 프로젝트: {{ $('Webhook: App Events').item.json.body.payload.projectId || 'N/A' }}\n- 시간: {{ new Date().toLocaleString('ko-KR', {timeZone: 'Asia/Seoul'}) }}\n\n즉시 확인 필요합니다."
            }
          ]
        }
      },
      "id": "discord-critical",
      "name": "Discord: Critical 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 150],
      "notesInFlow": true,
      "notes": "Discord Webhook URL 입력"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/xzawed/CustomWebService/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"claude-fix\",\n  \"client_payload\": {\n    \"task_description\": \"{{ $json.fixInstructions }}\",\n    \"commit_message\": \"fix: 자동 에러 수정 — {{ $json.summary }}\",\n    \"pr_title\": \"[Auto] Error Fix: {{ $json.summary }}\",\n    \"pr_body\": \"## SuperGrok 분석\\n- 심각도: {{ $json.severity }}\\n- 분류: {{ $json.category }}\\n- 요약: {{ $json.summary }}\\n\\n## 원본 에러\\n- 타입: {{ $('Webhook: App Events').item.json.body.type }}\\n- 에러: {{ $('Webhook: App Events').item.json.body.payload.error || 'N/A' }}\"\n  }\n}",
        "options": {}
      },
      "id": "claude-dispatch",
      "name": "GitHub: Claude CLI 트리거",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "", "name": "GitHub PAT" }
      },
      "notesInFlow": true,
      "notes": "GitHub PAT 크리덴셜 연결 필요"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "content",
              "value": "=⚠️ **에러 발생**\n- 유형: {{ $('Webhook: App Events').item.json.body.type }}\n- 심각도: {{ $json.severity }}\n- 분류: {{ $json.category }}\n- 요약: {{ $json.summary }}\n- 자동 수정: 불가\n- 시간: {{ new Date().toLocaleString('ko-KR', {timeZone: 'Asia/Seoul'}) }}"
            }
          ]
        }
      },
      "id": "discord-normal",
      "name": "Discord: 일반 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 450],
      "notesInFlow": true,
      "notes": "Discord Webhook URL 입력"
    }
  ],
  "connections": {
    "Webhook: App Events": { "main": [[{ "node": "Filter: FAILED 이벤트만", "type": "main", "index": 0 }]] },
    "Filter: FAILED 이벤트만": { "main": [[{ "node": "SuperGrok: 에러 분류", "type": "main", "index": 0 }]] },
    "SuperGrok: 에러 분류": { "main": [[{ "node": "Code: 응답 파싱", "type": "main", "index": 0 }]] },
    "Code: 응답 파싱": { "main": [[{ "node": "Switch: 심각도", "type": "main", "index": 0 }]] },
    "Switch: 심각도": {
      "main": [
        [{ "node": "Discord: Critical 알림", "type": "main", "index": 0 }],
        [{ "node": "GitHub: Claude CLI 트리거", "type": "main", "index": 0 }],
        [{ "node": "Discord: 일반 알림", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
