docs/n8n-workflows/E_배포검증.json
{
  "name": "E. 배포 검증",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "app-events",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: App Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "DEPLOYMENT_COMPLETED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-deploy",
      "name": "Filter: 배포 완료만",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-30s",
      "name": "Wait 30초 (안정화)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "https://xzawed.xyz/api/v1/health",
        "options": {
          "timeout": 15000
        },
        "retry": {
          "maxTries": 3,
          "waitBetweenTries": 10000
        }
      },
      "id": "health-check",
      "name": "HTTP: 헬스 체크",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-healthy",
      "name": "IF: Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "content",
              "value": "=✅ **배포 성공**\n- URL: {{ $('Webhook: App Events').item.json.body.payload.url }}\n- 플랫폼: {{ $('Webhook: App Events').item.json.body.payload.platform }}\n- 헬스: {{ $json.status }}\n- DB: {{ $json.checks.database }}\n- AI: {{ $json.checks.ai }}\n- 시간: {{ new Date().toLocaleString('ko-KR', {timeZone: 'Asia/Seoul'}) }}"
            }
          ]
        }
      },
      "id": "discord-success",
      "name": "Discord: 배포 성공",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200],
      "notesInFlow": true,
      "notes": "Discord Webhook URL을 url 필드에 입력하세요"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "content",
              "value": "=🚨 **배포 후 헬스 체크 실패**\n- 상태: {{ $json.status }}\n- DB: {{ $json.checks.database }}\n- AI: {{ $json.checks.ai }}\n- 프로젝트: {{ $('Webhook: App Events').item.json.body.payload.projectId }}\n- 시간: {{ new Date().toLocaleString('ko-KR', {timeZone: 'Asia/Seoul'}) }}\n\n⚠️ 수동 확인 필요"
            }
          ]
        }
      },
      "id": "discord-failure",
      "name": "Discord: 배포 실패",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 400],
      "notesInFlow": true,
      "notes": "Discord Webhook URL을 url 필드에 입력하세요"
    }
  ],
  "connections": {
    "Webhook: App Events": { "main": [[{ "node": "Filter: 배포 완료만", "type": "main", "index": 0 }]] },
    "Filter: 배포 완료만": { "main": [[{ "node": "Wait 30초 (안정화)", "type": "main", "index": 0 }]] },
    "Wait 30초 (안정화)": { "main": [[{ "node": "HTTP: 헬스 체크", "type": "main", "index": 0 }]] },
    "HTTP: 헬스 체크": { "main": [[{ "node": "IF: Healthy?", "type": "main", "index": 0 }]] },
    "IF: Healthy?": {
      "main": [
        [{ "node": "Discord: 배포 성공", "type": "main", "index": 0 }],
        [{ "node": "Discord: 배포 실패", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
